<div class="task-container">

<h1>TaskFlow</h1>
<p class="subtitle">Keep track of your tasks</p>

<div class="add-task">
<input
  #taskTitle
  type="text"
  placeholder="New task"
>

<button
  class="add-button"
  (click)="addTask(taskTitle.value); taskTitle.value = ''">
  Add Task
</button>
</div>

<div class="task-list">

  @for (task of tasks(); track task.id) {
    <div class="task">
      <span>
        {{ task.title }}
      </span>

      <span
        class="status"
        [class.done]="task.completed"
        [class.open]="!task.completed"
      >
        {{ task.completed ? 'Done' : 'Open' }}
      </span>

      <button
        class="delete-button"
        (click)="deleteTask(task.id)">
        Delete
      </button>

      <button
        class="toggle-button"
        (click)="toggleTask(task)">
        Toggle
      </button>
    </div>

  }

  </div>

</div>

